#MenuNav {
    background-color: rgba(255,255,255,0.8);
}

#MenuNav li {
    font-variant: small-caps;
    font-size: 1.2em;
}

#MenuNav .nav-link.active {
    text-decoration: underline;
}

#MenuNav li i {
    width: 25px;
    text-align: center;
}