.App {
    background-color: rgba(255,255,255,0.6);
    overflow: auto;
}

.App * {
    font-family: "Alegreya Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, .small-caps {
    font-variant: small-caps;
}

.pointer {
    cursor: pointer;
}

a {
    color: #17A2B8;
}

.badge {
    font-variant: all-small-caps;
}

.display-1, .display-2, .display-3, .display-4 {
    margin: 0;
}

.display-1, h1 {
    font-size: 2.5rem;
}

.display-2, h2 {
    font-size: 2.1rem;
}

.display-3, h3 {
    font-size: 1.7rem;
}

.display-4, h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}
